<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUN_LØB_TØR_FOR_M&M's</title>
</head>
<body>
    <div>
        <h1>HUN KOM TIL AT KØBE SKITTLES</h1>
        <P3>Malene Skiversen skulle holde fødselsdag for sin 8 årige datter, da hun fandt ud ad at de ikke havde flere M&M's. <br>
        Malene Skiversen løb ned til den lokale købmand og købte, hvad hun troede var M&M's.<br>
        Da Malene Skiversen kom hjem, opdagede hun at hun ikke havde taget den velkendte brune pose M&M's.<br>
        Malene Skiversen var kommet til at købe den røde pose Skittles i stedet for.<br></P3>
        <div style="margin-top: 100px;">
            <p2>Hvad hun gjorde efter, havde ingen set komme!</p2>
        </div>


    </div>


</body>
</html>